<html>
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<body>
<form class="pure-form pure-form-aligned" method="post" action="form_submit">
    <fieldset>
    <div class="pure-control-group">
        <label for="name">Name</label>
        <input id="date" type="text" name="name" placeholder="Name">
     </div>

        <div class="pure-control-group">
            <label for="name">Travel date</label>
            <input name="date" type="text" placeholder="Date">
            <input name="month" type="text" placeholder="Month">
            <input name="year" type="text" placeholder="Year" value="2016">
        </div>

        <div class="pure-control-group">
        	<label for="time">Travel Time</label>
        </div>

        <div class="pure-control-group">
            <label for="name">From</label>
            <input name="start_time" type="text" placeholder="Start time">
        </div>

        <div class="pure-control-group">
            <label for="name">To</label>
            <input name="end_time" type="text" placeholder="End time">
        </div>


        <div class="pure-control-group">
            <label for="password">Destination</label>
            <input name="destination" type="text" placeholder="e.g. airport, railway station etc.">
        </div>

        <div class="pure-control-group">
            <label for="email">Contact</label>
            <input name="number" type="text" placeholder="Mobile Number">
        </div>

        <div class="pure-control-group">
            <label for="foo">Comments</label>
            <input name="comments" type="text" placeholder="Additional Comments">
        </div>

        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
</body>
</html>